*{
  box-sizing: border-box;
}

.grid-container {
  background-color: black;
  border: 2px solid black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  width: 60vh;
  height: 60vh;
}

.gridItem{
  background-size: contain;
  background-color: white;
  border: 5px solid black;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
}

.gridBreak{
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.endGameMessage {
  position: absolute;
  padding-top: 20px;
  z-index: 1;
  top: 20%;
  left: 10%;
  height: 50%;
  width: 80%;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: black;
}
