/* ----------------------------- FONTS ----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.grid-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15vh;
  width: 60vh;
  height: 60vh;
  border
}

.gridItem{
  background-size: contain;
  background-color: white;
  border: 5px solid black;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
}

.gridBreak{
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.gameContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15vh;
  width: 60vh;
  height: 60vh;
}

.endGameMessage {
  display: none;
  position: absolute;
  padding-top: 20px;
  z-index: 1;
  height: 100%;
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.7);
}
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 52px;
  text-align: center;
}

p {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  text-align: center;
}

#reset {
  display: inline;
}

select {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

input, button {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.playerWinCounter {
  margin-top: 8%;
  display: inline-block;
  border: 3px dotted white;
  padding: 6px;
}
.playerWinCounter p {
  font-size: 14px;
  display: block;
}

pre {
  display: none;
}

.playerSelectContainer {
  top: 70px;
  font-size: 16px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  height: 50px;
}

.playerSelect {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  position: relative;
  display: block;
  width: 15vw;
  height: 70px;
  margin-left: 1.5vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin-top: 10px;
}

.playerSelect h3, .playerSelect h4 {
  margin: 5px auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  margin-top: 13px;
}

.sideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 70vh;
  width: 18vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom-right-radius: 60px;
  background-color: rgba(255, 255, 255, 0.1);
}

#playerSelectText {
  font-size: 14px;
  width: 15vw;
  margin: 1.5vw;
}

.loginInfo {
  font-family: 'Press Start 2P', cursive;
}

.loginInfo h2 {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.quickstart-user-details-container {
  font-size: 12px;
  text-align: center;
  top: 55px;
  position: relative;
}
#quickstart-sign-in-status {
  font-size: 10px;
}
#email {
  position: absolute;
  top: 40px;
  left: 5px;
  display: block;
  width: auto;
}
#quickstart-sign-up {
  position: absolute;
  margin: 0;
  top: 70px;
  left: 80px;
  display: inline-block;
}
#quickstart-sign-in {
  position: absolute;
  margin: 0;
  top: 70px;
  left: 5px;
  display: inline-block;
}
